div.link-head:hover > div.link-body /*停在hover上會有懸空的東西or連接*/
{
  display:block;/*區塊(會換行)*/
}
.link-body{ /*保留空間，但先隱藏起來*/
	display:none;
}
body{
  font-family:"微軟正黑體";
  background-color: rgb(219, 212, 193);
  text-align: center;
  position: relative;
  top:60px;
}
#left{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: left;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(199,199,187);
  position:relative;
 }
#middle{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: left;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(234,230,223);
  position: relative;
  height:calc(100vh - 60px);
  top:0px;
  overflow-y:auto;
}
/* 文章簡圖區 */
.art{
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:15px 0px 0px 0px;
}
.art-head{
  height:40px;
  padding:10px;
} /* 文章簡圖區的上半部 */
.art-body{
  padding-left: 10px;
  height:10vh;
} /* 文章簡圖區的中半部 */
.art-fotter{
  height:5vh;
  padding:5px 10px 10px 10px;
} /* 文章簡圖區的下半部 */
#article-pic{
  width:70%;
  height: auto;
} /* 文章簡圖區的圖 */
#writer-pic{
  width: auto;
  height: 30px;
  border: 2px solid gray;
  margin: 1px;
} /* 文章簡圖區作者頭像 */
#good-pic{
  width: auto;
  height: 25px;
}

#right{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: center;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(199,199,187);
  position:relative;
  top:0px;
  right:0px;
}
.row{
  margin:0px;
}
#login{
  /* display:inline-block; */
  text-align: center;
  border-radius:10px;
  width:100%;
  padding:25px 5px 0px 5px;
  min-height:250px; /*最小高度 */
  background-color: rgb(239, 237, 231);
  position: relative;
}
#user-pic{
  width:75%;
  border:5px solid;
  border-color:#F2F2F2;
  margin-bottom:15px;
}
#register{
  display:inline-block;
  border-radius:10px;
  width:95%;
  margin:10px 20px 10px 20px;
  padding:25px 5px 0px 5px;
  /*min-height:550px; 最小高度*/
  background-color: rgb(193, 171, 173);
  position: relative;
}
/* article */
.article{
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:15px 0px 0px 0px;
}
.article-head{
  height:15vh;
  padding:10px;
  border-bottom: 1px black solid;
} /* 文章上半部 */
.article-body{
  word-break:normal;
} /* 文章中半部 */
.article-fotter{
  padding:20px;
} /* 文章下半部 */
/* hot-message */
.hmes-head{ 
  padding:10px;
}
.hmes-body{
  background-color: rgb(234,230,223);
  padding:10px;
  border-radius: 10px;
}
.hmes{
  font-size:2.5vmin;
  margin:0px;
  font-weight:400;
  font-family:"jf-openhuninn";
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.mes{
  border-bottom: 1px black solid;
  padding:20px 0px 20px 0px;
}
.mes-head{
  font-size:3vmin;
  margin:20px 10px 5px 10px;
  font-family:"jf-openhuninn";
}
.article-word{
  /* font-size:2.5vmin; */
  margin:0px 30px 0px 30px;
  font-family: "jf-openhuninn";
  font-weight:600;
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.pic{
  width: auto;
  height: 6vh;
  margin: 1px;
}
#re1{
  width:40%;
  height:500px;
  padding:30px;
  border-right:3px black dashed;
  float:left;
}
#re2{
  width:60%;
  height:500px;
  padding:0px 20px 0px 20px;
  float:left;
  font-size: 14px;
  
}
#form{
  position: absolute;
  left:40%;
  padding: 0px 20px 0px 20px;
}
.form-control{
  font-size:0.8rem;
}
.form-group{
  margin-bottom: 0.5rem;
}
label{
  margin:0px;
}
#slogan{
  font-family:"標楷體";
  text-align: center;
  font-size: 18px;
  margin:0px;
}
#test-pic{
  width:100%;
  height:auto;
  padding:100px 30px 15px 30px;
}
#user-name{
  font-size:20px;
  position:relative;
  margin:0px 0px 0px 0px;
}
#user-nickname{
  font-size:16px;
  margin:-5px 0px 0px 0px;
}
#other-page{
  display:inline-block;
  text-align: center;
  border-radius:10px;
  width:100%;
  padding:25px 5px 20px 5px;
  /* min-height:200px; 最小高度*/ 
  background-color: rgb(239, 237, 231);
  position: relative;
  margin-top: 20px;
}
button img{
  max-width:50px;
  min-height:50px;
  padding: 10px;
  border-radius:10%;
  background: rgb(210,191,166);
}
.mar{
  margin-bottom:15px;
}
#login-pic{
  width: auto;
  height: 125px;
}
.login-page{
  background-color: rgb(208, 192, 166);
}
.head-nav{
  width:100%;
  position:fixed; /*固定位置定位*/
  top:0; /*距離上方 0 像素*/
  z-index:1; /*重疊時會在其他元素之上*/
  background-color: #90656f;
  padding: 10px;
  text-align:left;
}
.Tai-gun{
  width:auto;
  height: 32px;
}
.mid{
  display: flex;
  align-items: center;
  font-family: "微軟正黑體";
}
.bottom{
  display: flex;
  align-items: flex-end;
}
.right{
  text-align: right;
  margin:20px;
}
.w{
  display: inline;
  font-size:3vmin;
  margin:0px;
  font-weight:400;
  font-family:"jf-openhuninn";
  text-decoration:underline;
}
.article-word.img{
  
}
