
div.link-head:hover > div.link-body /*停在hover上會有懸空的東西or連接*/
{
  display:block;/*區塊(會換行)*/
}
.link-body{ /*保留空間，但先隱藏起來*/
	display:none;
}
body{
  font-family:"微軟正黑體";
  background-color: rgb(219, 212, 193);
  text-align: center;
  position: relative;
  top:60px;
}
#left{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: left;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(199,199,187);
  position:relative;
 }
#middle{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: left;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(234,230,223);
  position: relative;
  height:calc(100vh - 60px);
  top:0px;
  overflow-y: auto;
}
.board{
  font-weight:400;
  font-family:"jf-openhuninn";
  font-size: 20pt;
  width: 90%;
  margin:10px 0px 10px 0px;
}
/* 文章簡圖區 */
.art{
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:15px 0px 0px 0px;
}
.art-head{
  height:40px;
  padding:10px;
} /* 文章簡圖區的上半部 */
.art-body{
  padding-left: 10px;
  height:10vh;
} /* 文章簡圖區的中半部 */
.art-fotter{
  height:5vh;
  padding:5px 10px 10px 10px;
} /* 文章簡圖區的下半部 */
#article-pic{
  width:70%;
  height: auto;
} /* 文章簡圖區的圖 */
#writer-pic{
  width: auto;
  height: 30px;
  border: 2px solid gray;
  margin: 1px;
} /* 文章簡圖區作者頭像 */
#good-pic{
  width: auto;
  height: 25px;
}

#right{
  /* display:inline-block; */
   /*建立一堆區塊自動填滿瀏覽器*/
  text-align: center;
	/* width:10%; */
	padding:2%;
	vertical-align:top;
  background-color: rgb(199,199,187);
  position:relative;
  top:0px;
  right:0px;
}
.row{
  margin:0px;
}
#login{
  /* display:inline-block; */
  text-align: center;
  border-radius:10px;
  width:100%;
  padding:25px 5px 0px 5px;
  min-height:250px; /*最小高度 */
  background-color: rgb(239, 237, 231);
  position: relative;
}
#user-pic{
  height:110px;
  width:75%;
  margin-bottom:15px;
}
#u-pic{
  height:200px;
  width:40%;
  margin-bottom:15px;
  position: relative;
  left:30%;
  right:30%;
}
#register{
  display:inline-block;
  border-radius:10px;
  width:95%;
  margin:10px 20px 10px 20px;
  padding:25px 5px 0px 5px;
  /*min-height:550px; 最小高度*/
  background-color: rgb(193, 171, 173);
  position: relative;
}
/* article */
.article{
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:15px 0px 0px 0px;
}
.article-head{
  height:15vh;
  padding:10px;
  border-bottom: 1px black solid;
} /* 文章上半部 */
.article-body{
  word-break:normal;
} /* 文章中半部 */
.article-fotter{
  padding:20px;
} /* 文章下半部 */
/* hot-message */
.hmes-head{ 
  padding:10px;
}
.hmes-body{
  background-color: rgb(234,230,223);
  padding:10px;
  border-radius: 10px;
}
.hmes{
  font-size:2.5vmin;
  margin:0px;
  font-weight:400;
  font-family:"jf-openhuninn";
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.mes{
  border-bottom: 1px black solid;
  padding:20px 0px 20px 0px;
}
.mes-head{
  font-size:3vmin;
  margin:20px 10px 5px 10px;
  font-family:"jf-openhuninn";
}
.article-word{
  /* font-size:2.5vmin; */
  margin:0px 30px 0px 30px;
  font-family: "jf-openhuninn";
  font-weight:400;
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
}
.pic{
  width: auto;
  height: 6vh;
  margin: 1px;
}
#re1{
  width:40%;
  height:500px;
  padding:30px;
  border-right:3px black dashed;
  float:left;
}
#re2{
  width:60%;
  height:500px;
  padding:0px 20px 0px 20px;
  float:left;
  font-size: 14px;
}
.u1{
  padding:20px;
  border-radius:10px;
  width:60%;
  margin:auto;
  background-color: rgb(193, 171, 173);
  position: relative;
  font-size: 14px;
}
#form{
  position: absolute;
  left:40%;
  padding: 0px 20px 0px 20px;
}
.form-control{
  font-size:0.8rem;
}
.form-group{
  margin-bottom: 0.5rem;
}
label{
  margin:0px;
}
#slogan{
  font-family:"標楷體";
  text-align: center;
  font-size: 18px;
  margin:0px;
}
#test-pic{
  width:100%;
  height:auto;
  padding:100px 30px 15px 30px;
}
#user-name{
  font-size:20px;
  position:relative;
  margin:0px 0px 0px 0px;
}
#user-nickname{
  font-size:16px;
  margin:-5px 0px 5px 0px;
}
#other-page{
  display:inline-block;
  text-align: center;
  border-radius:10px;
  width:100%;
  padding:25px 5px 20px 5px;
  /* min-height:200px; 最小高度*/ 
  background-color: rgb(239, 237, 231);
  position: relative;
  margin-top: 20px;
}
button img{
  max-width:50px;
  min-height:50px;
  padding: 10px;
  border-radius:10%;
  background: rgb(210,191,166);
}
.mar{
  margin-bottom:15px;
}
#login-pic{
  width: auto;
  height: 125px;
}
.login-page{
  background-color: rgb(208, 192, 166);
}
.head-nav{
  width:100%;
  position:fixed; /*固定位置定位*/
  top:0; /*距離上方 0 像素*/
  z-index:1; /*重疊時會在其他元素之上*/
  background-color: #90656f;
  padding: 10px;
  text-align:left;
}
.Tai-gun{
  width:auto;
  height: 32px;
}
.mid{
  display: flex;
  align-items: center;
  font-family: "微軟正黑體";
}
.le{
  display: flex;
  align-items: flex-start;
  font-family: "微軟正黑體";
}
.bottom{
  display: flex;
  align-items: flex-end;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.w{
  display: inline;
  font-size:3vmin;
  margin:0px;
  font-weight:400;
  font-family:"jf-openhuninn";
  text-decoration:underline;
}
.article-word img{
  text-align: left;
  width:90%;
  height:auto;
}
.shii{
  display: inline-block;
  float: left;
}
.pointer{
  cursor: pointer;
}
.gbb{
  height: 30px;
  width: 30px;
  margin:10px;
}
.gbb2{
  height: 20px;
  width: 20px;
  margin:0px 20px 0px 20px;
}
.gbb3{
  width:50%;
  height:auto;
  margin:10px;
  background-color: #a7a9ac;
  border-radius: 10%;
  padding: 10px;
}
.gbb3:hover{
  background-color: #58656b;
}
.user{
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:15px 0px 0px 0px;
}
.person-btn{
  
}
.nickname{
  padding:20px;
  border-radius:10px;
  width:90%;
  margin:20px auto 20px auto;
  background-color: rgb(193, 171, 173);
  position: relative;
  font-size: 14px;
  text-align: center;
}
#n-pic{
  height:100px;
  width:15%;
  margin-bottom: 10px;
}
.cir{
  text-align: center;
  border-radius: 50%;
  border: #939699 3px ridge;
  margin:auto;
  max-width:50px;
  height: 50px;
}
.middle{
  text-align: center;
}
#search{
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  background: rgb(233, 230, 230) url('../index/image/search.png') no-repeat 3px 3px;
  padding: 5px 5px 5px 35px;
  margin:auto;
  background-size:3%;
}
.friend{
  display:inline-block;
  background-color:rgb(193, 171, 173);
  margin:30px 20px 0px 20px;
  text-align: center;
  padding:20px 10px 0px 10px;
  float: left;
}
.chat-head{
  text-align: right;
  background-color: #F2F2F2;
  border-radius: 10px 10px 0px 0px;
  width: 90%;
  margin:15px auto 0px auto;
  border-bottom: 1px black solid;
  
}
.chat-body{
  background-color: #F2F2F2;
  width: 90%;
  margin:0px auto 0px auto;
  min-height: 380px;
  max-height: 380px;
  overflow-y: auto;
  padding:10px 20px 10px 20px;
}
.chat-fotter{
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 0px 0px 10px 10px;
  width: 90%;
  margin:0px auto 0px auto;
  padding: 10px 20px 10px 20px;
}
#chat{
  font-size: 14px;
  border-radius: 10px;
  width: 90%;
  background: rgb(233, 230, 230) url('../index/image/pen.png') no-repeat 3px 3px;
  padding: 5px 5px 5px 35px;
  margin:auto;
  background-size:3%;
}
#chat-pic{
  height:90px;
  width:30%;
  margin:10px 0px 10px 0px;
}
.talk{
  display:inline-block;
  text-align: left;
  margin:10px 5px 0px 10px;
  padding:5px 10px 5px 10px;
  border-radius: 10px;
  background-color: rgb(193, 171, 173);

  min-height: 40px;
  max-width: 70%;
}
.talk-word{
  font-family: "jf-openhuninn";
  font-weight:400;
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  margin:0px; 
  font-size:12pt;
}
.c-pic{
  width: 40px;
  height: 40px;
}
.write{
  display:inline-block;
  text-align: left;
  margin:auto;
  padding:20px;
  border-radius: 10px;
  background-color:#F2F2F2;
  width: 90%;
  position: relative;
  left: 5%;
  right: 5%;
}
.write-head{
  display:inline-block;
  text-align: left;
  margin:10px auto 0px auto;
  border-radius: 10px;
  width: 90%;
  position: relative;
  left: 5%;
  right: 5%;
}
.write-pic{
  width:10%;
  height: auto;
}
.write-file{
  opacity: 0;
  position: absolute;
  top: 8.5px;
  left: 13px;
  width: 10%;
}
.long{
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 100%;
  margin:0px auto 20px auto;
  height: 240px;
  padding: 0px;
  float: left;
}
.add-tag{
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 215px;
  width: 5%;
}
.add-input{
  margin: 0px 0px 5px 0px;
}
.tag-pic{
  position: absolute;
  bottom: 7px;
  left: 210px;
  width: 8%;
  height: auto;
}
.tit{
  text-align: center;
  background-color: rgb(199,199,187);
  border-radius: 10px 10px 0px 0px;
  margin:0px;
  height: 60px;
  padding: 10px;
  font-family:"jf-openhuninn";
}
.con{
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 0px 0px 10px 10px;
  margin:0px;
  padding: 10px;
  overflow-y: auto;
  max-height: 200px;
}
.con2{
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 0px 0px 10px 10px;
  margin:0px;
  padding: 10px;
  overflow-y: auto;
  max-height: 180px;
}
.bo{
  background-color: white;
  width:45%;
  margin:10px 15px 0px 15px;
  float: left;
  text-align: left;
  border-radius: 10px;
}
.bo2{
  background-color: white;
  width:100%;
  margin:10px auto 0px auto;
  float: left;
  text-align: left;
  border-radius: 10px;
}
.ww{
  margin: 0px;
  font-weight:400;
  font-family:"jf-openhuninn";
  font-size: 20pt;
}
.cc{
  margin:20px 0px 0px 20px;
  float: left;
}
.tag{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin:10px auto 0px auto;
  padding: 5px;
  max-width: 80%;
  font-family:"setofont";
  font-weight:600;
}
.card-body{
  padding: 0.5rem;
}
.card{
  border-radius: 10px;
}
.ss{
  margin: 0px;
  font-weight:400;
  font-size: 14pt;
  text-decoration:none;
  text-align: center;
}
.edit-pic{
  width:20px;
  height:20px;
  cursor: pointer;
}
.be{
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.bell{
  background-color: #F2F2F2;
  text-align: left;
  width:100%;
  padding: 10px;
  border-radius: 10px;
  margin:10px;
}
.bt{
  
}
.btnn{
  display: inline-block;
  background-color: #F2F2F2;
  width:20%;
  float: left;
  text-align: center;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  color: #90656F;
  font-size: 16pt;
}
.btnn:hover{
  background-color: #A6B4B3;
  color: white;
}
.now{
  background-color: #A6B4B3;
  color: white;
}
.search-title{
  margin:0;
  border-bottom:1px black dashed;
  font-size: 18pt;
  margin: 5px;
  font-weight: 500;
  padding: 5px;
}
.search-article{
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px auto 0px auto;
  max-height: 250px;
  width:95%;
}
.search-article2{
  margin: 10px auto 0px auto;
  width:100%;
}
.search-nickname{
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px;
  max-height: 200px;
  width:45%;
}
.art2{
  background-color: #EDEDED;
  border-radius: 10px;
  width: 90%;
  margin:10px auto 10px auto;
}
.ser-con{
  display: inline-block;
  min-height: 140px;
  max-height: 140px;
  width:100%;
  overflow-y: auto;
}
.ser-fot{
  color: #D77A4B;
  margin: 0px 0px 0px 30px;
  text-align: left;
  width: 80%;
}
.ser-ww{
  color: #1D4851;
  margin: auto;
  padding: 10px;
  font-weight: 600;
}
.ser-btn{
  display: inline-block;
  background-color: #90656F;
  color: white;
  border-radius: 10px;
  padding:8px;
  margin:5px;
  font-size: 9pt;
}
.ser-con2{
  display: inline-block;
  min-height: 140px;
  max-height: 60vh;
  width:100%;
  overflow-y: auto;
}
.sm-article{
  background-color: #F2F2F2;
  border-radius: 10px;
  margin: 10px auto 0px auto;
  max-height: 70vh;
  width:95%;
}
.test{
  text-align: center;
	padding:2%;
	vertical-align:top;
  background-color: rgb(193, 171, 173);
  height:calc(100vh - 125px);
  border-radius: 10px;
}
.test-logo{
  width: 30%;
  height: auto;
  margin: 30px auto 0px auto;
}
.test-ww{
  text-align: center;
  margin: 20px;
  font-family: '標楷體';
  font-size: 16pt;
}
.test-btn{
  background-color: #90656F;
  color: white;
  border-radius: 10px;
  padding:8px;
  font-size: 14pt;
  position: absolute;
  bottom:100px;
}
.question{
  width: 80%;
  max-height:35%;
  min-height: 35%;
  margin: 20px auto 0px auto;
  padding: 10px;
}
.A{
  background:url(../index/image/A.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat;
  background-size: contain;
}
.B{
  background:url(../index/image/B.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat center;
  background-size: contain;
}
.C{
  background:url(../index/image/C.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat;
  background-size: contain;
}
.D{
  background:url(../index/image/D.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat;
  background-size: contain;
}
.E{
  background:url(../index/image/E.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat;
  background-size: contain;
}
.F{
  background:url(../index/image/F.png) no-repeat center;
  background-color:rgb(193, 171, 173);
  background-repeat: no-repeat;
  background-size: contain;
}
.op{
  width: 70%;
  height: 10vh;
  margin: 20px auto 0px auto;
  border: 1px #90656F dashed;
  border-radius: 10px;
}
.test2-ww{
  font-family: "jf-openhuninn";
  font-weight:400;
  word-break: break-all;
  word-wrap:break-word;
  white-space:pre-wrap;
  margin:0px; 
  font-size:12pt;
  text-align: left;
  padding: 20px;
}
.choice{
  position: absolute;
  right: -50px;
  top: 0px;
}
.choose{
  position: absolute;
  top: 34%;
  right:25%;
}
.link-ww{
  color: white;
  text-decoration: none;
}
.link-ww:hover{
  color: white;
  text-decoration: none;
}
.result{
  width: 70%;
  height: 50%;
  border: 2px #90656F dashed;
  border-radius: 10px;
  margin:50px auto 0px auto;
  background-color: rgb(234,230,223);
}
.result-btn{
  background-color: #90656F;
  color: white;
  border-radius: 10px;
  padding:8px;
  font-size: 14pt;
  width: 150px;
  position: relative;
  margin: auto;
  top: 10%;
}
.match-page{
  background-color: rgb(157,162,174);
}
.match-ww{
  color:rgb(41,50,66);
  margin: 5px auto 0px auto;
  font-family: "jf-openhuninn";
  font-weight:400;
  font-size: 12pt;
}
.match-title{
  margin:20px auto 10px auto;
  font-family: "jf-openhuninn";
  font-weight:400;
  font-size: 16pt;
}
.match-pic{
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}
.match-con{
  padding:10px;
}
.match-intro{
  background-color: rgb(214, 215, 218);
  border-radius: 10px;
  padding: 10px;
}
.match-fotter{
  margin: 10px auto 25px auto;
}
.sorry-pic{
  width: auto;
  height: 125px;
  margin: 10px auto 20px auto;
}
.no-result{
  font-family: "jf-openhuninn";
  font-weight:400;
  margin: 0px 0px 0px 20px;
  text-align: left;
  position: relative;
  top: 50px;
}